*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 20px;
}
.tabuleiro{
    background-color:rgb(214, 214, 7);
    height: 1570px;
    width: 1570px;
    display: grid;
    
    grid: 
    "top top top top top top top top top top top" 200px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "left .   .   .   .   .   .   .   .   . right" 130px
    "bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom"   200px /
    200px 130px 130px 130px 130px 130px 130px 130px 130px 130px 200px;      
    ;
}

.right{
    grid-area: right;
    display: flex;
    flex-direction: column;
}

.right .rectangle, .right .luck, .right .cia, .right .square-parada{
    transform: rotate(270deg);
   
}

.top{
    grid-area: top;
    display: flex;
}
 
.top .rectangle, .top .luck, .top .cia, .top .square-parada{
    transform: rotate(180deg);
}

.left{
    grid-area: left;
    flex-direction: column;
    display: flex;
}

.left .rectangle, .left .luck, .left .cia{
    transform: rotate(90deg);
}

.bottom{
    grid-area: bottom;
    display: flex;
}

.square{
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.square div{
    text-transform: lowercase ;
    font-weight: 600;
    font-size: 15px;
}

.square-parada{
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;

}

.square-parada #parada{
    position: relative;
    font-size: 60px;
    font-weight: 900;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 20px;
    width: 80px;
    height: 80px;
}


.square #partida{
    font-size: 150px;
    color: yellow;
    text-shadow: 1px 1px 10px black;
}

.square #va{
    font-size: 80px;
    color: yellow;
    padding: 8px;
    border-radius: 15px;
    border: 3px solid black;
    margin-top: 10px;
}

.square #prisao{
    font-size: 80px;
    color: black;
    background-color: yellow;
    padding: 8px;
    border-radius: 15px;
    border: 3px solid black;
    margin-top: 10px;
}

.square #prisao p{
    margin: 5px 0;
    text-align: center;
    font-size: 16px;
}

.rectangle{
    flex-direction: column;
    display: flex;
    width: 130px;
    height: 200px;
    border: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}

.rosa{
    background-color: rgb(247, 7, 247);
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}


.azul{
    background-color: rgb(93, 156, 250);
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}


.azul-escuro{
    background-color: darkblue;
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.laranja{
    background-color: orange;
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}


.vermelho{
    background-color: red;
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.amarelo{
    background-color: yellow;
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.verde{
    background-color: rgb(27, 230, 78);
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.roxo{
    background-color: rgb(73, 11, 245);
    width: 100px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}


.descricao{
    text-transform: uppercase ;
    margin-top: 30px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}

.valor{
    display: flex;
    margin-top: -10px;
    text-transform: lowercase ;
    font-weight: 700;
    font-size: 10px;
    justify-content: space-between;
    width: 80px;
}

.luck{
    flex-direction: column;
    display: flex;
    width: 130px;
    height: 200px;
    border: 1px solid black;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20;
    background-color: white;

}

.luck-descricao{
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    width: 120px;
}

.luck i{
    font-size: 80px;
    color: red;
    padding: 8px;
    border-radius: 15px;
    border: 3px solid black;
    margin-top: 10px;
}

.cia{
    flex-direction: column;
    display: flex;
    width: 130px;
    height: 200px;
    border: 1px solid black;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20;
    background-color: white;

}

.cia-descricao{
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    width: 120px;
}

.cia i{
    font-size: 80px;
    color: black;
    padding: 8px;
    border-radius: 15px;
    border: 3px solid black;
    margin-top: 10px;
}

.cia-valor{
    display: flex;
    margin-top: 10px;
    text-transform: lowercase ;
    font-weight: 700;
    font-size: 10px;
    justify-content: space-between;
    width: 80px;
}

.cia #ir{
    color: rgb(93, 156, 250);
}

.cia #lucro{
    color: rgb(73, 192, 73);
}